@font-face {
  font-family: "fac";
  src: url(/fonts/Oswald/Oswald-Regular.ttf);
}

h1 {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: gray;
  font-size: 24px;
  font-family: "fac";
}

img {
  width: 500px;
}
